<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: bisque;
            color: chocolate;
        }
    </style>
</head>Views/edit.ejs
<body>
    <h1 class="head">Edit Data</h1>

    <form action="/updataData" method="post">
        <input type="text" value="<%=singalData.id%>" name="id" hidden/>
        <input type="text" value="<%=singalData.name%>" placeholder="Enter Your Name" name="name">
        <input type="text" value="<%=singalData.subject%>" placeholder="Enter Your subject" name="subject">
        <button type="submit">Updata</button>
    </form>

</body>
</html>